{% extends 'base.html' %}

{% block content %}
<div class="jumbotron jumbotron-fluid bg-dark text-white">
    <div class="container ">
        <h1 class="display-4">Login Page</h1>
        <p class="lead">Login Now To Post Your First BLog</p>

    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-7 ">
            <div class="card ">
                <div class="card-header  bg-dark text-white">
                    Login Form
                </div>
                <div class="card-body">
                    <form action="{% url 'Login' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row ">

                            <div class="form-group col-12">
                                <label >Email</label>
                                {{form.email}}
                            </div>
                            <div class="form-group col-12">
                                <label>Password</label>
                                {{form.password}}
                                <small style="color:red">{{ form.password.errors.as_text }}</small>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-outline-success btn-block">Login</button>
                    </form>
                    <div class="mt-4">
                        <p>Don't have an account? </p>
                        <a href="{% url 'Register' %}" class="btn btn-outline-primary">Register Now</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


{% endblock %}


