{% extends 'profile.html' %}

{% block blog-content %}

            <div class="card ">
                <div class="card-header  bg-dark text-white">
                   Blog Details
                </div>
                  <div class="card-body">
                    <form >

                        <div class="form-group">
                            <label>Title</label> <br>
                            {{blog.title}}
                        </div>
                        <div class="form-group">
                            <label>Content</label> <br>
                            {{blog.content}}

                        </div>
                        <div class="form-group">
                            <label>Image</label><br>
                            <img src="{{blog.image.url}}" class="img-fluid" width="200" alt="">

                        </div>
                    </form>
                </div>
            </div>



{% endblock %}