{% extends 'profile.html' %}

{% block blog-content %}

            <div class="card ">
                <div class="card-header  bg-dark text-white">
                    Write A Blog
                </div>
                  <div class="card-body">
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Title</label>
                            {{form.title}}
                        </div>
                        <div class="form-group">
                            <label>Content</label>
                            {{form.content}}
                        </div>
                        <div class="form-group">
                            <label>Image</label>
                            {{form.image}}
                        </div>
                        <button type="submit" class="btn btn-outline-primary px-5">Create Blog</button>
                    </form>
                </div>
            </div>



{% endblock %}