{% extends 'profile.html' %}

{% block blog-content %}
<div class="card ">

    <div class="card-header bg-dark text-white">
        Your Blogs
    </div>
    <div class="card-body">
        <a href="{% url 'create-blog' %}" class="btn  btn-info"> <i class="fa fa-plus"> </i> Create Blog</a>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Created At</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for blog in blogs %}
                <tr>
                    <th scope="row">{{blog.id}}</th>
                    <td>{{blog.title}}</td>
                    <td>{{blog.created_at}}</td>
                    <td>
                        <div class="btn-group mr-2" role="group" aria-label="Second group">
                            <a href="{% url 'blog-detail' blog.id %}" class="btn  btn-success" title="Detail View"><i
                                    class="fa fa-eye"></i></a>
                            <a href="{% url 'update-blog' blog.id %}" class="btn  btn-primary" title="Update View"><i
                                    class="fa fa-edit"></i></a>
                            <form action="{% url 'delete-blog' blog.id %}" method="post">
                                {% csrf_token %}
                                <button class="btn  btn-danger" title="Delete"><i class="fa fa-trash"></i></button>
                            </form>
                        </div>

                    </td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>

    </div>
</div>


{% endblock %}